1. Web scraping manually + function

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from lat_lon_parser import parse
from sqlalchemy import create_engine 
import mysql.connector

#Berlin

In [2]:
url = "https://en.wikipedia.org/wiki/Berlin"

response = requests.get(url)

soup_berlin = BeautifulSoup(response.content, 'html.parser')

country_berlin = soup_berlin.find('td', class_='infobox-data').get_text(strip=True)

lng_berlin = soup_berlin.find('span', class_='longitude').get_text(strip=True)
ltd_berlin = soup_berlin.find('span', class_='latitude').get_text(strip=True)

#Hamburg

In [3]:
url = "https://en.wikipedia.org/wiki/Hamburg"

response = requests.get(url)

soup_hamburg = BeautifulSoup(response.content, 'html.parser')

country_hamburg = soup_hamburg.find('td', class_='infobox-data').get_text(strip=True)

lng_hamburg = soup_hamburg.find('span', class_='longitude').get_text(strip=True)
ltd_hamburg = soup_hamburg.find('span', class_='latitude').get_text(strip=True)

#Munich

In [4]:
url = "https://en.wikipedia.org/wiki/Munich"

response = requests.get(url)

soup_munich = BeautifulSoup(response.content, 'html.parser')

country_munich = soup_munich.find('td', class_='infobox-data').get_text(strip=True)

lng_munich = soup_munich.find('span', class_='longitude').get_text(strip=True)
ltd_munich = soup_munich.find('span', class_='latitude').get_text(strip=True)

In [5]:
#Function to replace steps above and to be able to use it for any other city
def cities_dataframe(cities):
  cities_data = []

  for city in cities:
    city_data = {}

    # city
    city_data["City"] = city

    # create the soup
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # country
    city_data["Country"] = city_soup.find(class_="infobox-data").get_text()

    # population
    city_population = city_soup.find(string="Population").find_next("td").get_text()
    city_population_clean = int(city_population.replace(",", ""))
    city_data["Population"] = city_population_clean

    # data retrieved
    city_data["Year_Data_Retrieved"] = city_soup.find(string="Population").find_next().get_text()[2:6]

    # latitude and longitude
    city_data["Latitude"] = city_soup.find(class_="latitude").get_text()
    city_data["Longitude"] = city_soup.find(class_="longitude").get_text()
    city_data["Latitude"] = parse(city_data["Latitude"])
    city_data["Longitude"] = parse(city_data["Longitude"])

    # append this city's data to the cities list
    cities_data.append(city_data)

  return pd.DataFrame(cities_data)

In [ ]:
# call the function
list_of_cities = ["Berlin", "Hamburg", "Munich"]

cities_df = cities_dataframe(list_of_cities)
cities_df

2.Setting up environment in mysql WORKBENCH

In [ ]:
###TO BE RUN IN MYSQL WORKBENCH ####
/***************************
Setting up the environment
***************************/

-- Drop the database if it already exists
DROP DATABASE IF EXISTS gans

-- Create the database
CREATE DATABASE gans;

-- Use the database
USE gans;



CREATE TABLE cities (
    city_id INT AUTO_INCREMENT, -- Automatically generated ID for each city
    city_name VARCHAR(255) NOT NULL, 
    country VARCHAR(255),
    longitude DECIMAL(9,6) NOT NULL,
	latitude DECIMAL(9,6) NOT NULL,
    PRIMARY KEY (city_id) -- Primary key to uniquely identify each city
);


CREATE TABLE population (
    Population_id INT AUTO_INCREMENT,
    Population INT NOT NULL,
    Year_Data_Retrieved VARCHAR(255),
    City_id INT,
    PRIMARY KEY (Population_id),
    FOREIGN KEY (City_id) REFERENCES cities(City_id)
);

CREATE TABLE Weather (
    Weather_id INT AUTO_INCREMENT,
    City_id INT,
    City_name VARCHAR(255),
    Datetime DATETIME,
    Temp DECIMAL(5,2),
    Feels_like DECIMAL(5,2),
    Humidity INT,
    Weather_main VARCHAR(255),
    Weather_desc VARCHAR (255),
    Wind_speed DECIMAL(5,2),
    Clouds INT,
    Rain_3h DECIMAL(5,2),
    PRIMARY KEY (Weather_id),
    FOREIGN KEY (City_id) REFERENCES cities(City_id)
);

In [ ]:
3. Seperating DATAFRAME into two tables

3.0

In [9]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 3 non-null      object
 1   Country              3 non-null      object
 2   Population           3 non-null      int64
 3   Year_Data_Retrieved  3 non-null      object
 4   Latitude             3 non-null      float64
 5   Longitude            3 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 276.0+ bytes

In [78]:
# Create the "cities df" for the relational data base

cities_to_db = cities_df[["City", "Country", "Latitude", "Longitude"]]
cities_to_db

      City  Country  Latitude  Longitude
0   Berlin  Germany   52.5200     13.405
1  Hamburg  Germany   53.5500     10.000
2   Munich  Germany   48.1375     11.575

In [79]:
cities_to_db.rename(columns={"City": "City_name"}, inplace=True)
cities_to_db

/var/folders/cn/bdqc214d4dqcr16tz7kb403w0000gn/T/ipykernel_4832/3945587001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities_to_db.rename(columns={"City": "City_name"}, inplace=True)

  City_name  Country  Latitude  Longitude
0    Berlin  Germany   52.5200     13.405
1   Hamburg  Germany   53.5500     10.000
2    Munich  Germany   48.1375     11.575

In [80]:
# Create the "population df" for the relational data base

population_to_db = cities_df[["Population", "Year_Data_Retrieved"]]
population_to_db

   Population Year_Data_Retrieved
0     3596999                2022
1     1964021                2023
2     1510378                2023

4. Sending Information to SQL and from

In [ ]:
#Info for connection between mySQL Workbench and VS code
schema = "gans"
host = "127.0.0.1" #localhost
user = "root"
password = "INSERTPASSWORDHERE" #root password which was set up initially when installing 
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [ ]:
# Push the "cities_to_db" to the empty "cities" table in the MySQL data base

cities_to_db.to_sql('Cities',
                  if_exists='append',
                  con=connection_string,
                  index=False)

3

In [81]:
#double checking if it worked by reading it back into VS code
cities_from_sql = pd.read_sql("Cities", con=connection_string)
cities_from_sql

   City_id City_Name  Country  Longitude  Latitude
0        1    Berlin  Germany     13.405   52.5200
1        2   Hamburg  Germany     10.000   53.5500
2        3    Munich  Germany     11.575   48.1375

In [85]:
# Getting the "City_id" to the population df--> needed for relational database connections

population_to_db["City_id"] = cities_from_sql["City_id"]
population_to_db

/var/folders/cn/bdqc214d4dqcr16tz7kb403w0000gn/T/ipykernel_4832/2823822354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_to_db["City_id"] = cities_from_sql["City_id"]

   Population Year_Data_Retrieved  City_id
0     3596999                2022        1
1     1964021                2023        2
2     1510378                2023        3

In [86]:
population_to_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Population           3 non-null      int64
 1   Year_Data_Retrieved  3 non-null      object
 2   City_id              3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [28]:
# Push the "population_to_db" to the empty "population" table in the MySQL data base

population_to_db.to_sql('population',
                  if_exists='append',
                  con=connection_string,
                  index=False)

3

5. Setting up open weather API JSON file to decide which we want to keep

In [125]:
# Berlin # testing first with one city to make sure it works and to determine what to keep from JSON
latitude = 52.520008
longitude = 13.404954

API_key = "89b4a954f2f955292f6b3136080e5184"

url = (f"https://api.openweathermap.org/data/2.5/forecast?lat={latitude}&lon={longitude}&appid={API_key}&units=metric")

response = requests.get(url)
json_berlin = response.json()

json_berlin

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1744718400,
   'main': {'temp': 21.33,
    'feels_like': 20.93,
    'temp_min': 21.33,
    'temp_max': 21.47,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 997,
    'humidity': 54,
    'temp_kf': -0.14},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 16},
   'wind': {'speed': 6.35, 'deg': 132, 'gust': 9.07},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-15 12:00:00'},
  {'dt': 1744729200,
   'main': {'temp': 19.59,
    'feels_like': 19.2,
    'temp_min': 18.75,
    'temp_max': 19.59,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 997,
    'humidity': 61,
    'temp_kf': 0.84},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 67},
   'wind': {'speed': 5.97, 'deg': 125, 'gust': 9.83},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-15 15:00:00'},
  {'dt': 1744740000,
   'main': {'temp': 15.22,
    'feels_like': 14.65,
    'temp_min': 15.22,
    'temp_max': 15.22,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 997,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.14, 'deg': 124, 'gust': 7.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-15 18:00:00'},
  {'dt': 1744750800,
   'main': {'temp': 13.69,
    'feels_like': 13.18,
    'temp_min': 13.69,
    'temp_max': 13.69,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 998,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 98},
   'wind': {'speed': 3.29, 'deg': 125, 'gust': 7.15},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-15 21:00:00'},
  {'dt': 1744761600,
   'main': {'temp': 13.74,
    'feels_like': 13.39,
    'temp_min': 13.74,
    'temp_max': 13.74,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 998,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 1.74, 'deg': 132, 'gust': 2.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-16 00:00:00'},
  {'dt': 1744772400,
   'main': {'temp': 13.25,
    'feels_like': 12.88,
    'temp_min': 13.25,
    'temp_max': 13.25,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 1000,
    'humidity': 86,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.01, 'deg': 207, 'gust': 4.05},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-16 03:00:00'},
  {'dt': 1744783200,
   'main': {'temp': 13.88,
    'feels_like': 13.41,
    'temp_min': 13.88,
    'temp_max': 13.88,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1002,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 69},
   'wind': {'speed': 2.5, 'deg': 233, 'gust': 4.16},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-16 06:00:00'},
  {'dt': 1744794000,
   'main': {'temp': 19.08,
    'feels_like': 18.58,
    'temp_min': 19.08,
    'temp_max': 19.08,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1003,
    'humidity': 59,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 2},
   'wind': {'speed': 2.12, 'deg': 262, 'gust': 3},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-16 09:00:00'},
  {'dt': 1744804800,
   'main': {'temp': 22.95,
    'feels_like': 22.4,
    'temp_min': 22.95,
    'temp_max': 22.95,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1004,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 2},
   'wind': {'speed': 1.98, 'deg': 262, 'gust': 2.89},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-16 12:00:00'},
  {'dt': 1744815600,
   'main': {'temp': 24,
    'feels_like': 23.45,
    'temp_min': 24,
    'temp_max': 24,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1004,
    'humidity': 38,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 11},
   'wind': {'speed': 1.23, 'deg': 60, 'gust': 0.92},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-16 15:00:00'},
  {'dt': 1744826400,
   'main': {'temp': 21.01,
    'feels_like': 20.42,
    'temp_min': 21.01,
    'temp_max': 21.01,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1005,
    'humidity': 48,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 10},
   'wind': {'speed': 2.57, 'deg': 75, 'gust': 5.31},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-16 18:00:00'},
  {'dt': 1744837200,
   'main': {'temp': 17.58,
    'feels_like': 17.14,
    'temp_min': 17.58,
    'temp_max': 17.58,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1005,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 19},
   'wind': {'speed': 4.21, 'deg': 56, 'gust': 10.08},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-16 21:00:00'},
  {'dt': 1744848000,
   'main': {'temp': 16.62,
    'feels_like': 16.17,
    'temp_min': 16.62,
    'temp_max': 16.62,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1004,
    'humidity': 70,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 57},
   'wind': {'speed': 5.09, 'deg': 67, 'gust': 11.56},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-17 00:00:00'},
  {'dt': 1744858800,
   'main': {'temp': 15.43,
    'feels_like': 15.04,
    'temp_min': 15.43,
    'temp_max': 15.43,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1003,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 97},
   'wind': {'speed': 3.67, 'deg': 72, 'gust': 8.78},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-17 03:00:00'},
  {'dt': 1744869600,
   'main': {'temp': 16.17,
    'feels_like': 15.77,
    'temp_min': 16.17,
    'temp_max': 16.17,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1002,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 79},
   'wind': {'speed': 3.08, 'deg': 110, 'gust': 5.64},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-17 06:00:00'},
  {'dt': 1744880400,
   'main': {'temp': 20.63,
    'feels_like': 20.21,
    'temp_min': 20.63,
    'temp_max': 20.63,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1003,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 14},
   'wind': {'speed': 3.04, 'deg': 171, 'gust': 3.86},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-17 09:00:00'},
  {'dt': 1744891200,
   'main': {'temp': 23.93,
    'feels_like': 23.61,
    'temp_min': 23.93,
    'temp_max': 23.93,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1003,
    'humidity': 47,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 12},
   'wind': {'speed': 3.32, 'deg': 206, 'gust': 4.17},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-17 12:00:00'},
  {'dt': 1744902000,
   'main': {'temp': 19.31,
    'feels_like': 18.92,
    'temp_min': 19.31,
    'temp_max': 19.31,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1005,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 84},
   'wind': {'speed': 4.98, 'deg': 263, 'gust': 4.76},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-17 15:00:00'},
  {'dt': 1744912800,
   'main': {'temp': 13.77,
    'feels_like': 13.13,
    'temp_min': 13.77,
    'temp_max': 13.77,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1005,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 92},
   'wind': {'speed': 4.96, 'deg': 294, 'gust': 6.58},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-17 18:00:00'},
  {'dt': 1744923600,
   'main': {'temp': 11.18,
    'feels_like': 10.47,
    'temp_min': 11.18,
    'temp_max': 11.18,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1007,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 92},
   'wind': {'speed': 3.52, 'deg': 304, 'gust': 5.25},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-17 21:00:00'},
  {'dt': 1744934400,
   'main': {'temp': 11.12,
    'feels_like': 10.43,
    'temp_min': 11.12,
    'temp_max': 11.12,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1006,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 94},
   'wind': {'speed': 2.76, 'deg': 319, 'gust': 3.81},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-18 00:00:00'},
  {'dt': 1744945200,
   'main': {'temp': 11.36,
    'feels_like': 10.72,
    'temp_min': 11.36,
    'temp_max': 11.36,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1006,
    'humidity': 83,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.23, 'deg': 354, 'gust': 3.95},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-18 03:00:00'},
  {'dt': 1744956000,
   'main': {'temp': 10.86,
    'feels_like': 10.09,
    'temp_min': 10.86,
    'temp_max': 10.86,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1006,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.13, 'deg': 18, 'gust': 4.14},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-18 06:00:00'},
  {'dt': 1744966800,
   'main': {'temp': 12.93,
    'feels_like': 12.24,
    'temp_min': 12.93,
    'temp_max': 12.93,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1005,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.45, 'deg': 35, 'gust': 3.21},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-18 09:00:00'},
  {'dt': 1744977600,
   'main': {'temp': 15.51,
    'feels_like': 15.07,
    'temp_min': 15.51,
    'temp_max': 15.51,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1004,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.04, 'deg': 101, 'gust': 3.06},
   'visibility': 10000,
   'pop': 0.2,
   'rain': {'3h': 0.14},
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-18 12:00:00'},
  {'dt': 1744988400,
   'main': {'temp': 11.48,
    'feels_like': 10.85,
    'temp_min': 11.48,
    'temp_max': 11.48,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1005,
    'humidity': 83,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.62, 'deg': 243, 'gust': 6.9},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-18 15:00:00'},
  {'dt': 1744999200,
   'main': {'temp': 9.96,
    'feels_like': 7.65,
    'temp_min': 9.96,
    'temp_max': 9.96,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1006,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.71, 'deg': 240, 'gust': 6.9},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-18 18:00:00'},
  {'dt': 1745010000,
   'main': {'temp': 8.9,
    'feels_like': 6.44,
    'temp_min': 8.9,
    'temp_max': 8.9,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1006,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.45, 'deg': 236, 'gust': 7.28},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-18 21:00:00'},
  {'dt': 1745020800,
   'main': {'temp': 8.01,
    'feels_like': 5.72,
    'temp_min': 8.01,
    'temp_max': 8.01,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1006,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 90},
   'wind': {'speed': 3.69, 'deg': 241, 'gust': 7.05},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-19 00:00:00'},
  {'dt': 1745031600,
   'main': {'temp': 7.28,
    'feels_like': 5.6,
    'temp_min': 7.28,
    'temp_max': 7.28,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1005,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.5, 'deg': 242, 'gust': 4.96},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-19 03:00:00'},
  {'dt': 1745042400,
   'main': {'temp': 8.42,
    'feels_like': 7.45,
    'temp_min': 8.42,
    'temp_max': 8.42,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1005,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 74},
   'wind': {'speed': 1.89, 'deg': 208, 'gust': 3.37},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-19 06:00:00'},
  {'dt': 1745053200,
   'main': {'temp': 11.34,
    'feels_like': 10.23,
    'temp_min': 11.34,
    'temp_max': 11.34,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1005,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.37, 'deg': 189, 'gust': 4.36},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-19 09:00:00'},
  {'dt': 1745064000,
   'main': {'temp': 16.6,
    'feels_like': 15.46,
    'temp_min': 16.6,
    'temp_max': 16.6,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1003,
    'humidity': 44,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 94},
   'wind': {'speed': 3.17, 'deg': 191, 'gust': 5.7},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-19 12:00:00'},
  {'dt': 1745074800,
   'main': {'temp': 19.34,
    'feels_like': 18.3,
    'temp_min': 19.34,
    'temp_max': 19.34,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1001,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 47},
   'wind': {'speed': 3.3, 'deg': 194, 'gust': 4.51},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-19 15:00:00'},
  {'dt': 1745085600,
   'main': {'temp': 16.61,
    'feels_like': 15.63,
    'temp_min': 16.61,
    'temp_max': 16.61,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1001,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 67},
   'wind': {'speed': 1.45, 'deg': 178, 'gust': 1.47},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2025-04-19 18:00:00'},
  {'dt': 1745096400,
   'main': {'temp': 14.94,
    'feels_like': 13.98,
    'temp_min': 14.94,
    'temp_max': 14.94,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1001,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.2, 'deg': 114, 'gust': 1.19},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-19 21:00:00'},
  {'dt': 1745107200,
   'main': {'temp': 13.86,
    'feels_like': 12.89,
    'temp_min': 13.86,
    'temp_max': 13.86,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1001,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.06, 'deg': 143, 'gust': 1.66},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-20 00:00:00'},
  {'dt': 1745118000,
   'main': {'temp': 12.73,
    'feels_like': 12.02,
    'temp_min': 12.73,
    'temp_max': 12.73,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1001,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.09, 'deg': 298, 'gust': 5.84},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2025-04-20 03:00:00'},
  {'dt': 1745128800,
   'main': {'temp': 12.34,
    'feels_like': 11.54,
    'temp_min': 12.34,
    'temp_max': 12.34,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1001,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.99, 'deg': 321, 'gust': 4.19},

In [ ]:
json["list"] #vizualising what to keep from the info

#BERLIN PUSHING WEATHER DATA TO SQL WORKBENCH

In [ ]:
weather_data = json_berlin['list']  # Extract forecast list

# Extract only the relevant fields
filtered_data = []
for entry in weather_data:
    filtered_entry = {
        'datetime': entry['dt_txt'],
        'temp': entry['main']['temp'],
        'feels_like': entry['main']['feels_like'],
        'humidity': entry['main']['humidity'],
        'weather_main': entry['weather'][0]['main'],
        'weather_desc': entry['weather'][0]['description'],
        'wind_speed': entry['wind']['speed'],
        'clouds': entry['clouds']['all'],
        'rain_3h': entry.get('rain', {}).get('3h', 0.0) #fallback if it doesnt rain is 0.0
    }
    filtered_data.append(filtered_entry)

# Convert to DataFrame
df_berlin = pd.DataFrame(filtered_data)

#Convert datetime to datetime object
df_berlin['datetime'] = pd.to_datetime(df_berlin['datetime'])

df_berlin.columns = df_berlin.columns.str.capitalize()  #capitalizing every column name

In [134]:
cities = pd.read_sql("Cities", con=connection_string) #reading back from sql
cities

   City_id City_Name  Country  Longitude  Latitude
0        1    Berlin  Germany     13.405   52.5200
1        2   Hamburg  Germany     10.000   53.5500
2        3    Munich  Germany     11.575   48.1375

In [135]:
# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Step 1: Fetch City_ID for Berlin from the Cities table
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=schema,
    port=port
)

cursor = conn.cursor()

# Fetch the City_ID for Berlin
cursor.execute("SELECT City_ID FROM Cities WHERE City_Name = 'Berlin'")
city_id = cursor.fetchone()[0]  # Gets the first row, fetches the first column (City_ID)

# Close the cursor and connection
cursor.close()
conn.close()

In [136]:
# Getting the "City_id" to the weather df--> needed for relational database connections
df_berlin['City_ID'] = city_id
df_berlin

,Datetime,Temp,Feels_like,Humidity,Weather_main,Weather_desc,Wind_speed,Clouds,Rain_3h,City_ID
0,2025-04-15 12:00:00,21.33,20.93,54,Clouds,few clouds,6.35,16,0.00,1
1,2025-04-15 15:00:00,19.59,19.20,61,Clouds,broken clouds,5.97,67,0.00,1
2,2025-04-15 18:00:00,15.22,14.65,71,Clouds,overcast clouds,4.14,100,0.00,1
3,2025-04-15 21:00:00,13.69,13.18,79,Clouds,overcast clouds,3.29,98,0.00,1
4,2025-04-16 00:00:00,13.74,13.39,85,Clouds,overcast clouds,1.74,99,0.00,1
5,2025-04-16 03:00:00,13.25,12.88,86,Clouds,overcast clouds,2.01,99,0.00,1
6,2025-04-16 06:00:00,13.88,13.41,80,Clouds,broken clouds,2.50,69,0.00,1
7,2025-04-16 09:00:00,19.08,18.58,59,Clear,clear sky,2.12,2,0.00,1
8,2025-04-16 12:00:00,22.95,22.40,42,Clear,clear sky,1.98,2,0.00,1
9,2025-04-16 15:00:00,24.00,23.45,38,Clouds,few clouds,1.23,11,0.00,1
10,2025-04-16 18:00:00,21.01,20.42,48,Clear,clear sky,2.57,10,0.00,1
11,2025-04-16 21:00:00,17.58,17.14,67,Clouds,few clouds,4.21,19,0.00,1
12,2025-04-17 00:00:00,16.62,16.17,70,Clouds,broken clouds,5.09,57,0.00,1
13,2025-04-17 03:00:00,15.43,15.04,77,Clouds,overcast clouds,3.67,97,0.00,1
14,2025-04-17 06:00:00,16.17,15.77,74,Clouds,broken clouds,3.08,79,0.00,1
15,2025-04-17 09:00:00,20.63,20.21,56,Clouds,few clouds,3.04,14,0.00,1
16,2025-04-17 12:00:00,23.93,23.61,47,Clouds,few clouds,3.32,12,0.00,1
17,2025-04-17 15:00:00,19.31,18.92,62,Clouds,broken clouds,4.98,84,0.00,1
18,2025-04-17 18:00:00,13.77,13.13,74,Clouds,overcast clouds,4.96,92,0.00,1
19,2025-04-17 21:00:00,11.18,10.47,81,Clouds,overcast clouds,3.52,92,0.00,1
20,2025-04-18 00:00:00,11.12,10.43,82,Clouds,overcast clouds,2.76,94,0.00,1
21,2025-04-18 03:00:00,11.36,10.72,83,Clouds,overcast clouds,3.23,100,0.00,1
22,2025-04-18 06:00:00,10.86,10.09,80,Clouds,overcast clouds,3.13,100,0.00,1
23,2025-04-18 09:00:00,12.93,12.24,75,Clouds,overcast clouds,2.45,100,0.00,1
24,2025-04-18 12:00:00,15.51,15.07,75,Rain,light rain,2.04,100,0.14,1
25,2025-04-18 15:00:00,11.48,10.85,83,Clouds,overcast clouds,4.62,100,0.00,1
26,2025-04-18 18:00:00,9.96,7.65,82,Clouds,overcast clouds,4.71,100,0.00,1
27,2025-04-18 21:00:00,8.90,6.44,79,Clouds,overcast clouds,4.45,100,0.00,1
28,2025-04-19 00:00:00,8.01,5.72,81,Clouds,overcast clouds,3.69,90,0.00,1
29,2025-04-19 03:00:00,7.28,5.60,85,Clouds,overcast clouds,2.50,99,0.00,1
30,2025-04-19 06:00:00,8.42,7.45,76,Clouds,broken clouds,1.89,74,0.00,1
31,2025-04-19 09:00:00,11.34,10.23,65,Clouds,overcast clouds,2.37,100,0.00,1
32,2025-04-19 12:00:00,16.60,15.46,44,Clouds,overcast clouds,3.17,94,0.00,1
33,2025-04-19 15:00:00,19.34,18.30,37,Clouds,scattered clouds,3.30,47,0.00,1
34,2025-04-19 18:00:00,16.61,15.63,50,Clouds,broken clouds,1.45,67,0.00,1
35,2025-04-19 21:00:00,14.94,13.98,57,Clouds,overcast clouds,1.20,100,0.00,1
36,2025-04-20 00:00:00,13.86,12.89,61,Clouds,overcast clouds,1.06,100,0.00,1
37,2025-04-20 03:00:00,12.73,12.02,75,Clouds,overcast clouds,3.09,100,0.00,1
38,2025-04-20 06:00:00,12.34,11.54,73,Clouds,overcast clouds,2.99,100,0.00,1
39,2025-04-20 09:00:00,13.30,12.46,68,Clouds,overcast clouds,3.61,100,0.00,1

In [124]:
#pushing weather data for Berlin to DB
df_berlin.to_sql('Weather',
                  if_exists='append',
                  con=connection_string,
                  index=False)

40

#HAMBURG PUSHING WEATHER DATA TO SQL WORKBENCH

In [ ]:
#HAMBURG
latitude = 10.000000
longitude = 10.000000

API_key = "89b4a954f2f955292f6b3136080e5184"

url = (f"https://api.openweathermap.org/data/2.5/forecast?lat={latitude}&lon={longitude}&appid={API_key}&units=metric")

response = requests.get(url)
json_hamburg = response.json()

json_hamburg

In [139]:
weather_data = json_hamburg['list']  # Extract forecast list

# Extract only the relevant fields
filtered_data = []
for entry in weather_data:
    filtered_entry = {
        'datetime': entry['dt_txt'],
        'temp': entry['main']['temp'],
        'feels_like': entry['main']['feels_like'],
        'humidity': entry['main']['humidity'],
        'weather_main': entry['weather'][0]['main'],
        'weather_desc': entry['weather'][0]['description'],
        'wind_speed': entry['wind']['speed'],
        'clouds': entry['clouds']['all'],
        'rain_3h': entry.get('rain', {}).get('3h', 0.0) #fallback if it doesnt rain is 0.0
    }
    filtered_data.append(filtered_entry)

# Convert to DataFrame
df_hamburg = pd.DataFrame(filtered_data)

#Convert datetime to datetime object
df_hamburg['datetime'] = pd.to_datetime(df_hamburg['datetime'])

df_hamburg.columns = df_hamburg.columns.str.capitalize()  #capitalizing every column name

In [141]:
# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Step 1: Fetch City_ID for Hamburg from the Cities table
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=schema,
    port=port
)

cursor = conn.cursor()

# Fetch the City_ID for Hamburg
cursor.execute("SELECT City_ID FROM Cities WHERE City_Name = 'Hamburg'")
city_id = cursor.fetchone()[0]  # Gets the first row, fetches the first column (City_ID)

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Getting the "City_id" to the weather df--> needed for relational database connections
df_hamburg['City_ID'] = city_id
df_hamburg

In [143]:
#pushing weather data for Hamburg to DB
df_hamburg.to_sql('Weather',
                  if_exists='append',
                  con=connection_string,
                  index=False)

40

#MUNICH PUSHING WEATHER DATA TO SQL WORKBENCH

In [ ]:
#MUNICH
latitude = 48.137500
longitude = 11.575000

API_key = "89b4a954f2f955292f6b3136080e5184"

url = (f"https://api.openweathermap.org/data/2.5/forecast?lat={latitude}&lon={longitude}&appid={API_key}&units=metric")

response = requests.get(url)
json_munich = response.json()

json_munich

In [146]:
weather_data = json_munich['list']  # Extract forecast list

# Extract only the relevant fields
filtered_data = []
for entry in weather_data:
    filtered_entry = {
        'datetime': entry['dt_txt'],
        'temp': entry['main']['temp'],
        'feels_like': entry['main']['feels_like'],
        'humidity': entry['main']['humidity'],
        'weather_main': entry['weather'][0]['main'],
        'weather_desc': entry['weather'][0]['description'],
        'wind_speed': entry['wind']['speed'],
        'clouds': entry['clouds']['all'],
        'rain_3h': entry.get('rain', {}).get('3h', 0.0) #fallback if it doesnt rain is 0.0
    }
    filtered_data.append(filtered_entry)

# Convert to DataFrame
df_munich = pd.DataFrame(filtered_data)

#Convert datetime to datetime object
df_munich['datetime'] = pd.to_datetime(df_munich['datetime'])

df_munich.columns = df_munich.columns.str.capitalize()  #capitalizing every column name

In [147]:
# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Step 1: Fetch City_ID for Munich from the Cities table
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=schema,
    port=port
)

cursor = conn.cursor()

# Fetch the City_ID for Munich
cursor.execute("SELECT City_ID FROM Cities WHERE City_Name = 'Munich'")
city_id = cursor.fetchone()[0]  # Gets the first row, fetches the first column (City_ID)

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Getting the "City_id" to the weather df--> needed for relational database connections
df_munich['City_ID'] = city_id
df_munich

In [149]:
#pushing weather data for Munich to DB
df_munich.to_sql('Weather',
                  if_exists='append',
                  con=connection_string,
                  index=False)

40

6. Creating the function to retrieve city data from my SQL workbench and to add weather data for cities

# Step 1: Load data
cities_df = pd.read_sql("SELECT * FROM cities", con=engine)

# Step 2: Call API for each city
for city in cities_df:
    # do stuff

# Step 3: Clean & prepare data
# Step 4: Store in DB


Step-by-Step	       Functional Thinking
Connect to DB	    ➡️ create_connection_string()
Read cities table	➡️ fetch_cities_data()
Call API per city	➡️ fetch_weather_data()
Save weather data	➡️ store_weather_data()
Combine everything	➡️ retrieve_and_store_weather()

In [ ]:
# 🔧 CONFIG
schema = "gans"
host = "127.0.0.1"
user = "root"
password = "INSERTPASSWORDHERE"
port = 3306
API_key = "89b4a954f2f955292f6b3136080e5184"

# ✅ Step 1: Define database connection

# Create connection string for SQLAlchemy
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{schema}'
engine = create_engine(connection_string)


# ✅ Step 2: Load city data from database
cities_df = pd.read_sql("SELECT * FROM cities", con=engine)


# API key for weather data
API_key = "89b4a954f2f955292f6b3136080e5184"

# Prepare list to hold all weather entries
weather_data = []

# ✅ Step 3: Loop over cities and fetch weather data
for _, city in cities_df.iterrows():
    latitude = city['Latitude']
    longitude = city['Longitude']
    city_id = city['City_id'] 

    # Make API call
    url = (
        f"https://api.openweathermap.org/data/2.5/forecast?lat={latitude}"
        f"&lon={longitude}&appid={API_key}&units=metric"
    )
    response = requests.get(url)
    data = response.json()

    # ✅ Step 4: Process weather entries for each city
    for entry in data['list']:
        weather_entry = {
            'city_id': city_id,
            'datetime': entry['dt_txt'],
            'temp': entry['main']['temp'],
            'feels_like': entry['main']['feels_like'],
            'humidity': entry['main']['humidity'],
            'weather_main': entry['weather'][0]['main'],
            'weather_desc': entry['weather'][0]['description'],
            'wind_speed': entry['wind']['speed'],
            'clouds': entry['clouds']['all'],
            'rain_3h': entry.get('rain', {}).get('3h', 0.0)
        }
        weather_data.append(weather_entry)

# ✅ Step 5: Create DataFrame
df = pd.DataFrame(weather_data)

# Convert datetime column
df['datetime'] = pd.to_datetime(df['datetime'])

# Capitalize column names
df.columns = df.columns.str.capitalize()

# ✅ Optional: Save to database
df.to_sql('weather', con=engine, if_exists='append', index=False)

120

In [199]:
#testing it by first running in SQL:
#TRUNCATE TABLE weather; #removes table but not the structure and schema of it

retrieve_and_send_data()

#EXAMPLE SOLUTIONS BELOW
_________________________________________________________________________________________________________________________
_________________________________________________________________________________________________________________________
_________________________________________________________________________________________________________________________
_________________________________________________________________________________________________________________________
_________________________________________________________________________________________________________________________

In [187]:
def retrieve_and_send_data():
  connection_string = create_connection_string()
  cities_df = fetch_cities_data(connection_string)
  weather_df = fetch_weather_data(cities_df)
  store_weather_data(weather_df, connection_string)
  return "Data has been updated"

def create_connection_string():
  schema = "gans"
  host = "127.0.0.1"
  user = "root"
  password = "YOUR_PASSWORD_HERE"
  port = 3306
  return f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

def fetch_cities_data(connection_string):
  return pd.read_sql("cities", con=connection_string)

def fetch_weather_data(cities_df):
  berlin_timezone = timezone('Europe/Berlin')
  API_key = 'YOUR_API_HERE'
  weather_items = []

  for _, city in cities_df.iterrows():
      latitude = city["latitude"]
      longitude = city["longitude"]
      city_id = city["city_id"]

      url = (f"https://api.openweathermap.org/data/2.5/forecast?lat={latitude}&lon={longitude}&appid={API_key}&units=metric")
      response = requests.get(url)
      weather_data = response.json()

      retrieval_time = datetime.now(berlin_timezone).strftime("%Y-%m-%d %H:%M:%S")

      for item in weather_data["list"]:
          weather_item = {
              "city_id": city_id,
              "forecast_time": item.get("dt_txt"),
              "temperature": item["main"].get("temp"),
              "forecast": item["weather"][0].get("main"),
              "rain_in_last_3h": item.get("rain", {}).get("3h", 0),
              "wind_speed": item["wind"].get("speed"),
              "data_retrieved_at": retrieval_time
          }
          weather_items.append(weather_item)

  weather_df = pd.DataFrame(weather_items)
  weather_df["forecast_time"] = pd.to_datetime(weather_df["forecast_time"])
  weather_df["data_retrieved_at"] = pd.to_datetime(weather_df["data_retrieved_at"])

  return weather_df

def store_weather_data(weather_df, connection_string):
  weather_df.to_sql('weather',
                    if_exists='append',
                    con=connection_string,
                    index=False)

In [ ]:
######FROM CHATPGT BUT WORKING
# 🔧 CONFIG
schema = "gans"
host = "127.0.0.1"
user = "root"
password = "INSERTPASSWORDHERE"
port = 3306
API_key = "89b4a954f2f955292f6b3136080e5184"


# ✅ STEP 1: Create SQLAlchemy engine
def create_connection_string():
    return f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{schema}"

# ✅ STEP 2: Fetch cities data from SQL
def fetch_cities_data(connection_string):
    engine = create_engine(connection_string)
    query = "SELECT * FROM cities"
    return pd.read_sql(query, con=engine)

# ✅ STEP 3: Fetch weather data from API for each city
def fetch_weather_data(cities_df):
    weather_data = []

    for _, city in cities_df.iterrows():
        latitude = city['Latitude']
        longitude = city['Longitude']
        city_id = city['City_id']

        url = (
            f"https://api.openweathermap.org/data/2.5/forecast?"
            f"lat={latitude}&lon={longitude}&appid={API_key}&units=metric"
        )
        response = requests.get(url)
        data = response.json()

        for entry in data['list']:
            weather_data.append({
                'city_id': city_id,
                'datetime': entry['dt_txt'],
                'temp': entry['main']['temp'],
                'feels_like': entry['main']['feels_like'],
                'humidity': entry['main']['humidity'],
                'weather_main': entry['weather'][0]['main'],
                'weather_desc': entry['weather'][0]['description'],
                'wind_speed': entry['wind']['speed'],
                'clouds': entry['clouds']['all'],
                'rain_3h': entry.get('rain', {}).get('3h', 0.0)
            })

    return pd.DataFrame(weather_data)

# ✅ STEP 4: Store the data in your SQL DB
def store_weather_data(df, connection_string):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.columns = df.columns.str.capitalize()

    engine = create_engine(connection_string)
    df.to_sql('weather', con=engine, if_exists='append', index=False)

# ✅ STEP 5: The main function to run all steps
def retrieve_and_send_data():
    connection_string = create_connection_string()
    cities_df = fetch_cities_data(connection_string)
    weather_df = fetch_weather_data(cities_df)
    store_weather_data(weather_df, connection_string)

In [195]:
retrieve_and_send_data()

7. SENDING IT TO CLOUD  --> basically the same steps as above but on the cloud

In [ ]:
#Info for connection between mySQL Workbench and VS code
schema = "gans_cloud"
host = "xxxxx" #host from Google cloud account (public IP)
user = "root"
password = "INSERTPASSWORDHERE"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [203]:
# Push the "cities_to_db" to the empty "cities" table in the MySQL data base

cities_to_db.to_sql('Cities',
                  if_exists='append',
                  con=connection_string,
                  index=False)

3